@media (min-width: 1024px) {
    .background__header {
        padding-bottom: 5.25em;
        height: 15vh;
    }

    .background__header--sidepage {
        padding-bottom: 1em;
        min-height: calc(10vh - 5.25em);
    }

    .desktop--hidden {
        display: none;
    }

    .desktop--visible {
        display: block;
    }

    .sidepage {
        margin: 3em;
    }

    .sidepage__heading {
        text-align: center;
    }

    .menu {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: initial;
        background: white;
        margin: 0;
        padding: 0;
        gap: 0;
    }

    .menu__item--content {
        color: inherit;
        text-decoration: none;
        font-size: 1em;
    }

    .menu__item {
        height: 100%;
        width: 5em;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--text);
    }

    .menu__item--active {
        background-color: var(--primary);
        color: white;
    }

    .menu::before {
        display: none;
    }

    .header__main {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100vh;
    }

    .header__side {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 10vh;
    }

    .heading {
        margin-bottom: 3em;
    }

    .heading--text {
        font-size: 2.5em;
    }

    .header__button {
        display: inline-flex;
        font-size: .6em;
        padding: 1em 2em;
        align-items: center;
        gap: .4em;
    }

    .navigation {
        height: 5em;
        position: absolute;
        margin: 0 auto;
        top: 2em;
        width: 80vw;
        left: 10vw;
        padding:0;
    }

    .navigation__logo {
        height: 3em;
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }

    .limit--page {
        max-width: 96em;
        margin: 0 auto;
    }

    .grid__main {
        justify-self: center;
        text-align: center;
        width: 48em;
    }

    .grid__main__heading {
        font-size: 2.5em;
    }

    .service {
        display: flex;
        gap: 1em;
        align-items: center;
    }

    .service:nth-child(2n+1) {
        flex-direction: row-reverse;
    }

    .service__aside {
        height: 20em;
        flex-basis: 50%;
        flex-shrink: 0;
    }

    .reference__images {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2em
    }

    .reference__info {
        position: absolute;
        flex-direction: column;
        justify-content: center;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: none;
        color: white;
        height: 100%;
        width: 100%;
    }

    .reference:hover .reference__info {
        display: flex;
        background-color: rgba(235, 108, 39, 0.9);
    }

    .contacts {
        display: flex;
        gap: 3em;
        height: 24em;
    }

    .information {
        flex-basis: 50%;
    }

    .image__address {
        width: 100%;
        flex-basis: 50%;
        margin: 0;
    }

    .contants__form {
        width: 50%;
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 300px;
    }

    .heading__subtext {
        text-align: center;
    }

    .services__list {
        margin-left: 2em;
    }

    .footer__button {
        background: white;
    }
}